In [1]:
import pandas as pd

In [18]:
df=pd.DataFrame({'ID':[100,101,102], 'Color':['Red','Blue','Red']},index=['a','b','c'])
df

    ID Color
a  100   Red
b  101  Blue
c  102   Red

In [8]:
pd.DataFrame([[202,'red'],[203,'blue']],columns=['ID','color'])

    ID color
0  202   red
1  203  blue

In [9]:
import numpy as np

In [10]:
arr =np.random.rand(4,2)
arr

array([[0.72493466, 0.98613659],
       [0.87482114, 0.15439519],
       [0.43695333, 0.11935691],
       [0.21489402, 0.72033389]])

In [12]:
pd.DataFrame(arr,columns=['id','number'])

         id    number
0  0.724935  0.986137
1  0.874821  0.154395
2  0.436953  0.119357
3  0.214894  0.720334

In [13]:
pd.DataFrame({'Student_ID':np.arange(100,110,1), 'score':np.random.randint(60,101,10)})

   Student_ID  score
0         100     64
1         101     88
2         102     80
3         103     86
4         104     95
5         105     66
6         106     80
7         107     84
8         108     72
9         109     74

In [15]:
pd.DataFrame({'Student_ID':np.arange(100,110,1), 'score':np.random.randint(60,101,10)}).set_index('Student_ID')

            score
Student_ID
100            72
101            66
102            99
103            70
104            85
105            90
106            91
107            61
108           100
109            61

In [19]:
S=pd.Series(['round','square'],index=['a','s'],name='shape')
S

a     round
s    square
Name: shape, dtype: object

In [20]:
pd.concat([df,S],axis=1)

C:\Users\rohit-ga\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      ID Color   shape
a  100.0   Red   round
b  101.0  Blue     NaN
c  102.0   Red     NaN
s    NaN   NaN  square